.card-content {
  padding: 20px;
}

.asset-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-submit {
  //padding-top: 20px;
  //padding-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.text-field {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alighnClass {
  position: relative;
  top: 10%;
  right: 70px;
}
.searchField .MuiInputBase-input {
  height: 0.6rem !important;
}
